/*!
 * com_joomclouds
 *
 * Copyright 2012 Asikart.com
 * License GNU General Public License version 2 or later; see LICENSE.txt, see LICENSE.php
 *
 * Generator: AKHelper
 * Author: Asika
 */


/* GLOBAL */
.element-invisible {
    display: none;
}

/* BODY */


/* TYPO */


/* LAYOUT */
.install-box-msg {
	max-height: 300px;
	overflow: scroll;
}

span.installed {
	display: inline-block;
	margin: 15px 10px ;
}

#Joomclouds.installs.joomla25 fieldset img {
    float: none;
    margin: 0 5px 10px 0;
}

#Joomclouds.installs.joomla25 h2 {
    color: #025A8D;
}

#main-navbar #joomclouds-logo {
    padding: 5px;
}

#main-navbar #joomclouds-logo img {
    max-width: 130px;
}

.container-fluid #main-navbar #joomclouds-logo img {
    max-width: 110px;
	margin-right: 30px;
}

.container-fluid #main-navbar ul.nav li {
	line-height: 20px;
}

.container-fluid #main-navbar ul.nav li a {
	padding: 10px 15px 10px;
}



/* CONTENT */
.btn.disabled {
    color: #fff;
}

#needlogin-image img {
	margin: 50px;
}

/* FILTER */
 #filter_environments {
    background: none ;
    padding: 0;
    border: none;
    box-shadow: none ;
    padding-top: 7px;
}

 #filter_environments label,
 #filter_environments input {
    margin-top: 0;
	margin-right: 5px;
	display: inline-block;
}

.joomla30 #filter_environments ul {
	margin-left: 0;
}

 #filter_environments ul li {
    float: left;
	list-style: none ;
}

 #filter_environments label {
    clear: none;
}

#filter-bar .btn-group,
#filter-bar select {
    margin-right: 5px;
}

.joomla25 #search-bar,
.joomla25 #filter-list-bar,
.joomla25 #sort-bar
{
    margin-bottom: 7px;
}

.joomla30 #search-bar input {
	margin-bottom: 0;
}



/* TABLE */
.joomla25 #Joomclouds.installs table.adminlist tr td {
    padding-bottom : 10px;
}

.ext-heading h2,
.bundle-heading h2{
    font-size: 200%;
    margin-top: 0.3em;
}

.bundle-information {
    margin-bottom: 20px;
}


/* FORM */


/* FOOTER */


/* MODAL */
.joomla25.login-modal-container {
    margin: 40px;
}

.joomla25 .modal-header h3 {
    font-size: 150%;
    margin-bottom: 50px;
}

.joomla25 .loggedin-information {
    margin-bottom: 25px;
}

.modal form {
	margin: 0;
}
